/* место для вашего кода */

.header {
  display: grid;
  align-items: center;
  padding: 92px 24px 86px 24px;
  grid-template-columns: repeat(7, 1fr);
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots {
  margin-top: 179px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 157px 0 188px 16px
}

.header__menu {
  padding-bottom: 5px;
  padding-left: 27px;
  grid-column: 1/4;
}

.header__links-list {
  font-size: 18px;
  display: flex;
  white-space: nowrap;
  gap: 30px;
}

.header__links-list-item {
  padding-left: 1px;
  list-style-type: circle;
  border-bottom: 1px solid black;
}

.header__links-list-item_no_bullet {
  padding-left: 0;
  list-style-type: none;
  text-decoration: none;
  border-bottom: none;
}

.header__link {
  font-size: 1.125rem;
  text-decoration: none;
  letter-spacing: 0.01125rem;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  padding-bottom: 6px;
  padding-left: 2px;
  justify-self: start;
  grid-column: 4/6;
}

.header__logo_image {
  width: 148px;
  height: 105px;
}

.header__address {
  grid-column: 6/8;
}

.address {
  font-size: 18px;
  line-height: 24px;
  padding: 0 0 6px 35px;
}

.cover__title {
  font-size: 100px;
  position: relative;
  z-index: 2;
  color: white;
}

.aligned-text {
  display: block;
  padding-top: 164px;
  padding-left: 50px;
  text-align: left;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: inline-block;
  padding: 10px 0 0 336px;
  text-align: left;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_right {
  display: block;
  padding-top: 3px;
  padding-right: 20px;
  text-align: right;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  display: inline-block;
  padding-top: 0;
  padding-left: 0;
  letter-spacing: 60px;
}

.no-letter-spacing {
  display: inline-block;
  padding-top: 0;
  padding-left: 0;
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 127px 49px 51px 79px;
  justify-items: start;
}

.cover__description-text {
  font-size: 22px;
  letter-spacing: -0.25px;
  word-spacing: 20px;
  text-transform: uppercase;
  color: white;
}

.bet-button {
  cursor: pointer;
  font-size: 22px;
  width: 256px;
  min-height: 51px;
  text-transform: uppercase;
  color: white;
  border: white 1px solid;
  background-color: rgb(255 255 255 / .0);
}

.lots__heading {
  font-size: 40px;
  padding-left: 65px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 24px;
  list-style-type: none;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / .6);
}

.card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 563px;
  width: 334px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  position: relative;
  z-index: 2;
  padding: 51px 40px 0 40px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
}

.card__text {
  font-size: 20px;
  position: relative;
  z-index: 2;
  padding: 0 40px 48px 40px;
  color: white;
}

.lots__look-more-link {
  font-size: 20px;
  display: block;
  padding: 6px 0 0 64px;
  color: black;
}

.about {
  display: grid;
  margin-top: 181px;
  padding: 0 23px 0 23px;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  /*justify-content: space-between;*/
}

.about__column {
  align-self: start;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  justify-self: start;
}

.about__logo-image {
  width: 146px;
  height: 116px;
}

.about__title {
  font-size: 40px;
  display: block;
  margin: 100px 0 100px 0;
  padding: 0 0 0 27px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 24px 27px;
  letter-spacing: 0.0125rem;
}

.footer__menu {
  font-size: 18px;
  padding: 0 0 0 36px;
}

.footer__menu-list {
  list-style-type: none;
  text-decoration: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  padding: 0 49px 0 0;
  list-style-type: none;
  text-decoration: none;
  gap: 48px;
}

.footer__social-list-item {
  display: flex;
  align-items: start;
  justify-content: center;
}

.footer__social-link {
  display: block;
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

